<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Lista de itens</title>

    <!-- JQuery -->
    <script src="js/jquery-2.2.1.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/sidenav.js"></script>
    <script src="js/updateText.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- carregando icones -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- incluindo css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- materialize -->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="images/walmart.ico"/>
</head>

<body>

<nav>
    <div class="nav-wrapper white">
        <button href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light btn-large blue"><i
                    class="material-icons">menu</i></button>
        <ul id="nav-mobile">
            <img src="images/logo.png"/>
        </ul>
    </div>
</nav>

<!-- SideNav -->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="images/background.jpg">
            </div>
            <a href="#!user"><img class="circle" src="images/perfil.jpg"></a>
            <a href="#!name"><span class="white-text name"><%= user.nome %></span></a>
            <a href="#!email"><span class="white-text email"><%= user.user %></span></a>
        </div>
    </li>
    <li><a href="/home">Home<i class="material-icons">home</i></a></li>
    <li><a href="/listar_itens">comprar<i class="material-icons">add_shopping_cart</i></a></li>
    <% if(user.nome == "admin"){ %>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">cadastro<i class="material-icons">add</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/cadastro_cliente">cliente<i class="material-icons">person_add</i></a></li>
                        <li><a href="/cadastro_item"><i class="material-icons">add_to_queue</i>item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Listar<i class="material-icons">search</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/listar_clientes">cliente<i class="material-icons">person</i></a></li>
                        <li><a href="/listar_itens"><i class="material-icons">tv</i>item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Editar<i class="material-icons">brush</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="editar_cliente">cliente<i class="material-icons">person</i></a></li>
                        <li><a href="editar_item"><i class="material-icons">tv</i>item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Deletar<i class="material-icons">delete_forever</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="deletar_cliente">cliente<i class="material-icons">remove_circle_outline</i></a>
                        </li>
                        <li><a href="deletar_item"><i class="material-icons">remove_from_queue</i>item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <% } %>
    <li>
        <div class="divider"></div>
    </li>

    <li><a href="/logout">Logout<i class="material-icons">autorenew</i></a></li>
</ul>


<br/><br/>

<div class="container">
    <% if(item.length > 0 ){ %>
    <% for(var i = 0;i < item.length; i++){ %>
    <div class="row">
        <div class="col-md-12">
            <div class="item_wrapper">
                <span class="item_id"><%= item[i].id %></span>
                <a href="item?id=<%= item[i].id %>" class="item_nome"><%= item[i].nome %></a>
                <span class="item_data"><%= item[i].data %></span>
                <span class="item_preco"> R$ <%= item[i].preco %> </span>
                <br/>
            </div>
        </div>
    </div>

    <% } %>
    <% } %>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>
